* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azulOscuro: #102B70;
    --azul: #1751C4;
    --oroOpaco: #BDB293;
    --plata: #A9B2C7;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    background-image: url(/img/fondo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}
.lateral1 {
    display: flex;
    flex-direction: column;
    max-width: 25%;
}
.flor  {
    width: 140px;
    margin-top: 15px;
    margin-left: -70px;
    transform: rotateX(5deg) rotateY(180deg);
}
.flor2 {
    width: 140px;
    margin-top: -25px;
    margin-left: -90px;
    transform: rotate(12deg);
}

.flor3 {
    width: 140px;
    margin-top: -25px;
    margin-left: -70px;
    transform: rotateX(5deg) rotateY(180deg);
}

.flor4, .flor5 {
    width: 200px;
    transform: rotate(180deg);
}
.flor4 {
    margin-right: -10px;
    transform: rotateX(150deg);
}
    
.flor5 {
    margin-left: -35px;
    transform: rotateX(150deg);
}
.top1 {
    display: flex;
    position: relative;
    top: -640px;
    left: 35%;
}