* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azulOscuro: #102B70;
    --azul: #1751C4;
    --oroOpaco: #BDB293;
    --plata: #A9B2C7;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    background-image: url(/img/fondo.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 900px;
    overflow-x: hidden;
}
.lateral1 {
    display: flex;
    flex-direction: column;
    max-width: 25%;
}
.flor  {
    width: 180px;
    margin-top: 15px;
    margin-left: -100px;
    transform: rotateX(5deg) rotateY(180deg);
}
.flor2 {
    width: 180px;
    margin-top: -25px;
    margin-left: -110px;
    transform: rotate(12deg);
}

.flor3 {
    width: 180px;
    margin-top: -15px;
    margin-left: -90px;
    transform: rotateX(5deg) rotateY(180deg);
}

.flor4, .flor5 {
    width: 200px;
    transform: rotate(180deg);
}
.flor4 {
    margin-right: -10px;
    transform: rotateX(150deg);
}
    
.flor5 {
    margin-left: -15px;
    transform: rotateX(150deg);
}
.top1 {
    display: flex;
    position: relative;
    top: -800px;
    left: 35%;
}

.chica {
    position: relative;
    top: -350px;
}
.changuita {
    width: 250px;
    transform: rotateY(180deg);
}

.boton {
    position: relative;
    top: -650px;
    left: 68%;
    height: 50px;
    width: 120px;
    padding-top: 15px;
    padding-left: 5px;
    border-radius: 5px;
    background-color: var(--plata);
}

.boton a {
    text-decoration: none;
    color: var(--azulOscuro);
    font-size: 18px;
    font-family: Bellefair;
}