* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azulOscuro: #102B70;
    --azul: #1751C4;
    --oroOpaco: #BDB293;
    --plata: #A9B2C7;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    background-image: url(/img/fondo.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    max-height: 200px;
    max-width: 360px;
    overflow-x: hidden;
}
.lateral1 {
    display: flex;
    flex-direction: column;
    max-width: 25%;
}
.flor  {
    width: 150px;
    margin-top: 15px;
    margin-left: -70px;
    transform: rotateX(5deg) rotateY(180deg);
}
.flor2 {
    width: 150px;
    margin-top: -25px;
    margin-left: -100px;
    transform: rotate(12deg);
}

.flor3 {
    width: 150px;
    margin-top: -15px;
    margin-left: -70px;
    transform: rotateX(5deg) rotateY(180deg);
}

.flor4, .flor5 {
    width: 200px;
    transform: rotate(180deg);
}
.flor4 {
    margin-right: -10px;
    transform: rotateX(150deg);
}
    
.flor5 {
    margin-left: -15px;
    transform: rotateX(150deg);
}
.top1 {
    display: flex;
    position: relative;
    top: -700px;
    left: 35%;
}

.chica {
    position: relative;
    top: -550px;
}
.changuita {
    width: 200px;
    transform: rotateY(180deg);
}

.boton {
    position: relative;
    top: -800px;
    left: 50%;
    height: 150px;
    width: 220px;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    border: 2px solid var(--azulOscuro);
    /*box-shadow: 2px 2px 2px rgb(14, 14, 138);*/
}

.boton a {
    text-decoration: none;
    color: var(--azulOscuro);
    font-size: 22px;
    font-family: Bellefair;
    margin-left: 17px;
}
.carta {
    width: 20px;
    margin-left: 2px;
}

.nombre {
    position: relative;
    top: -620px;
    left: 15%;
}
.posnom {
    position: relative;
    top: -30px;
    left: 15%;
}

.nomb, .apellido {
    font-size: 72px;
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--azulOscuro);
}
.apellido {
    margin-left: 45px;
}
.mariposa {
    width: 90px;
}